/* font-family: 'Prompt', sans-serif;
font-family: "Montserrat", sans-serif;
font-family: 'Barlow Condensed', sans-serif; */
body {
  font-family: "Montserrat", sans-serif;
}

/* Fonts example */

.montBold {
  font-weight: 700;
}
.promptReg {
  font-family: "Prompt", sans-serif;
}
.promptBold {
  font-family: "Prompt", sans-serif;
  font-weight: 700;
}

.barlowReg {
  font-family: "Barlow Condensed", sans-serif;
}
.barlowBold {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
}

/* Colors example */
/* #279135 - primary green
#965316 - primary brown
#FCE8A6 - header background */

.bg-primary-green {
  background-color: #279135;
}

.bg-primary-brown {
  background-color: #965316;
}

.bg-primary-lightBrown {
  background-color: #fce8a6;
}

.text-primary-green {
  color: #279135;
}
.text-primary-brown {
  color: #965316;
}
.text-primary-lightBrown {
  color: #fce8a6;
}

/* font-family: 'Prompt', sans-serif;
font-family: "Montserrat", sans-serif;
font-family: 'Barlow Condensed', sans-serif; */
body {
  font-family: "Montserrat", sans-serif;
}

/* Fonts example */

.montBold {
  font-weight: 700;
}
.promptReg {
  font-family: "Prompt", sans-serif;
}
.promptBold {
  font-family: "Prompt", sans-serif;
  font-weight: 700;
}

.barlowReg {
  font-family: "Barlow Condensed", sans-serif;
}
.barlowBold {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
}

/* Colors example */
/* #279135 - primary green
#195D22 - primary green dark
#965316 - primary brown
#FCE8A6 - header background */

.bg-primary-green {
  background-color: #279135;
}

.bg-primary-brown {
  background-color: #965316;
}

.bg-primary-lightBrown {
  background-color: #fce8a6;
}

.text-primary-green {
  color: #279135;
}
.text-primary-brown {
  color: #965316;
}
.text-primary-lightBrown {
  color: #fce8a6;
}

/* Navigation bar */
.navbar-light .navbar-nav .nav-link {
  color: #965316;
  font-weight: 700;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #279135;
}
.navbar-light .navbar-toggler {
  color: rgba(39, 145, 53, 0.55);
  border-color: rgba(39, 145, 53, 0.1);
}
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(150, 83, 22, 0.55)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.fixed-top.scrolled {
  background-color: rgb(252, 232, 166, 0.5) !important;
  transition: background-color 100ms linear;
}

/* Main buttons */
.btn-primary-custom {
  color: #fff;
  background-color: #279135;
  border-color: #279135;
}
.btn-primary-custom:hover {
  color: #fff;
  background-color: #195d22;
  border-color: #195d22;
}
.btn-check:focus + .btn,
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(39, 145, 53, 0.25);
}
/* Custom inputs */
.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #279135;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(39, 145, 53, 0.25);
}

/* Custom background */
.bg-green-custom {
  background-color: #279135;
}

/* Slider */
.slick-slide {
  margin: 0px;
}
.slick-slide img {
  width: 100%;
  border: 2px solid #fff;
}
.slick-prev:before,
.slick-next:before {
  color: #279135;
}

/* Footer */
footer a {
  color: white;
  text-decoration: none;
}
footer a:hover {
  color: white;
}
footer i {
  font-size: 1.5rem;
}
